body {
    padding: 0 1pc;
}

:root {
    --text-primary: #000;
    --text-secondary: #333;
    --background-primary: beige;
    --border: #c0c0c0;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--background-primary);
}

h1 {
    font-size: 1.5pc;
}

.navigation {
    text-align: center;
    font-weight: bold;
}

ul#frameworks {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 1pc;
    font-size: 1pc;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

#filter-field {
    border: none;
    border-bottom: 1px solid var(--text-secondary);
    background-color: var(--background-primary);
    margin-bottom: 1pc;
}

.modeler {
    height: 70vh;
    border: 1px solid var(--border);
}